body {
    height: 1000px;
    background-color: azure;
}

#button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 100%;
}

#button {
    font-size: 40px;
    width: 500px;
    height: 100px;
    border: 3px dashed black;
    border-radius: 20px;
    background-color: lightsteelblue;
}

#button:hover {
    background-color: lightgray;
}

#button:active {
    background-color: darkgray;
}

#dice-container {
    display: flex;
    justify-content: center;
    height: 220px;
}

#dice-quantity-selection {
    display: flex;
    justify-content: center;
}

#reset-button {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

/* .dice-1 {
    background: url('/images/dice/dice1.svg');
    background-repeat: no-repeat;
    width: 100%;
}

.dice-2 {
    background: url('/images/dice/dice2.svg');
    background-repeat: no-repeat;
    width: 100%;
}

.dice-3 {
    background: url('/images/dice/dice3.svg');
    background-repeat: no-repeat;
    width: 100%;
}

.dice-4 {
    background: url('/images/dice/dice4.svg');
    background-repeat: no-repeat;
    width: 100%;
}

.dice-5 {
    background: url('/images/dice/dice5.svg');
    background-repeat: no-repeat;
    width: 100%;
}

.dice-6 {
    background: url('/images/dice/dice6.svg');
    background-repeat: no-repeat;
    width: 100%;
} */