body {
    height: 1000px;
    background-color: azure;
}

#button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 100%;
}

#roll-button {
    font-size: 40px;
    width: 500px;
    height: 100px;
    border-radius: 20px;
    border: none;
    background-color: lightsteelblue;
}

#roll-button:hover {
    background-color: lightgray;
}

#roll-button:active {
    background-color: darkgray;
}

#dice-container {
    display: flex;
    justify-content: center;
    height: 220px;
}

#dice-quantity-selection {
    display: flex;
    justify-content: center;
}

.die-image {
    background-color: white;
    margin: 0 10px;
    border-radius: 25px;
}

#dice-quantity-selection {
    margin-top: 20px;
}

#reset-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    height: 100px;
}

#reset {
    height: 40px;
    width: 300px;
    border-radius: 20px;
    border: none;
    background-color: lightsteelblue;
}

#reset:hover {
    background-color: lightgray;
}

#reset:active {
    background-color: darkgray;
}